* {
  margin: 0;
  padding: 0;
}
.body {
  font-family: Arial;
}
.container {
  width: 1489px;
  height: 1250px;
}
.nav-bar {
  display: flex;
  height: 69px;
  background-color: blanchedalmond;
}
.rotated-chevron-icon {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
}
.get-app {
  display: inline-flex;
  align-items: center;
  padding: 5px 25px;
  border: 2px solid #6992cb;
  width: 120px;
  height: 31px;
  border-radius: 50px;
  font-size: 15px;
  color: #6992cb;
  text-decoration: none;
  cursor: pointer;
}

.download-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
