* {
  margin: 0;
  padding: 0;
}
.body {
  font-family: Arial;
}
.container {
}
.nav-bar {
  display: flex;
  align-items: center;
  height: 69px;
  background-color: white;
}
.shop-travel {
  display: flex;
  align-items: center;
  margin-left: 167px;
  margin-right: 625px;
}
.rotated-chevron-icon {
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
}
.get-app {
  display: inline-flex;
  align-items: center;
  border: 2px solid #e0e0e0;
  width: 105px;
  height: 31px;
  padding-left: 13px;
  margin-right: 15px;
  border-radius: 50px;
  font-size: 15px;
  color: #6992cb;
  text-decoration: none;
  cursor: pointer;
}
.download-icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-top: 3px;
  color: #6992cb;
}
.normal-nav-box {
  margin-right: 30px;
}
.cropped-image {
  height: 242px;
  margin-bottom: 50px;
  background-image: url("./assets/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tabs-container {
  display: flex;
  justify-content: center;
}
.tabs {
  display: flex;
  justify-content: center;
  width: 1200px;
  gap: 20px;
  border-bottom: 1px solid #ddd;
}
.tab {
  padding: 8px 10px 8px 10px;
  cursor: pointer;
  color: #333;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}
.tab:hover {
  color: #008000;
  border-bottom: 2px solid #008000;
}
.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.going-to {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  width: 387px;
  height: 47px;
  margin-right: 13px;
}
.going-to-icon {
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 10px;
}
.check-in {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  width: 188px;
  height: 47px;
  margin-right: 13px;

}
.date-icon {
  width: 20px;
  height: 20px;
  align-items: center;
  margin-left: 15px;
  margin-right: 10px;
}
.date-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}
.date-label {
  font-size: 10px;
}
.date-value {
  font-size: 14px;
}
.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2772b2;
    color: white;
    border-radius: 20px;
    width: 194px;
    height: 47px;
}